extends layout 

include mixins/_employeeCard
include mixins/_pagination 

block content 
  .inner 
    h2=title 
    .stores 
      each employee in employees 
        +employeeCard(employee)
    +pagination(page, pages, count)